.event-card-mini {
  background: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}
.event-card-mini:hover,
.event-card-mini:focus,
.event-card-mini:focus-visible,
.event-card-mini:active {
  background: none;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

.mini-event-card {
  background: linear-gradient(to right, #0b0c10, #1f2833);
  border: 1px solid #66fcf1;
  border-radius: 12px;
  font-family: "Audiowide", sans-serif;
  margin-top: 2rem;
  padding: 12px;
  color: #c5c6c7;
  transition: transform 0.2s ease;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 250px;
  height: 160px;
}

.mini-event-card:hover {
  transform: scale(1.03);
  border-color: #00fff7;
}

.mini-event-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.mini-platform-icon {
  width: 24px;
  height: 40px;
  object-fit: contain;
}

.mini-event-title {
  color: #66fcf1;
  font-weight: bold;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mini-event-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 13px;
}

.mini-info-line {
  display: flex;
  align-items: left;
  gap: 4px;
}

@media (max-width: 480px) {
  .mini-event-card {
    padding: 10px;
    font-size: 12px;
    gap: 10px;
  }

  .mini-event-title {
    font-size: 12px;
  }

  .mini-platform-icon {
    width: 20px;
    height: 32px;
  }

  .mini-event-info {
    gap: 8px;
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .mini-event-card {
    width: 220px;
    height: auto;
    font-size: 12.5px;
    padding: 11px;
    gap: 12px;
  }

  .mini-event-title {
    font-size: 12.5px;
  }

  .mini-platform-icon {
    width: 22px;
    height: 36px;
  }

  .mini-event-info {
    gap: 9px;
    font-size: 12.5px;
  }
}

@media (max-width: 400px) {
  .event-card-mini {
    width: 100%;
    justify-content: flex-start;
  }

  .mini-event-card {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}
