.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  position: sticky;
  top: 0;
  z-index: 1000;
  /* background: rgba(10, 10, 30, 0.6); */
  background:
    radial-gradient(circle at 25% 20%, #132347, transparent 20%),
    radial-gradient(circle at 50% 60%, #2b1a4c, transparent 10%),
    radial-gradient(
      circle at 50% 80%,
      rgba(0, 255, 200, 0.05),
      transparent 30%
    ),
    #0a0a1a;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid #66fcf2;
  box-shadow: 0 4px 20px rgba(0, 255, 255, 0.1);
  height: 64px;
  min-height: 64px;
  width: 100%;
}

.navbar-logo .logo {
  font-size: 1.625rem;
  font-weight: bold;
  color: #66fcf1;
  text-decoration: none;
  text-shadow: 0 0 10px #66fcf1;
  font-family: "Audiowide", sans-serif;
  transition: all 0.3s ease;
}
.navbar-logo .logo:hover {
  color: #00d1ff;
  text-shadow: 0 0 20px #00d1ff;
}

.navbar-links {
  display: flex;
  gap: 30px !important;
  list-style: none;
  align-items: center;
  margin: 0;
  margin-left: 15px;
  padding: 0;
  font-family: "Audiowide", sans-serif;
}
.nav-link,
.active-link {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  padding: 8px 14px;
  border-radius: 8px;
  transition:
    background 0.3s ease,
    box-shadow 0.3s ease;
}
.nav-link:hover {
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 0 10px #00ffea;
  color: #66fcf1;
}
.active-link {
  background: #66fcf1;
  color: #1a0033;
  box-shadow: 0 0 10px #66fcf1;
}

.navbar-login {
  display: flex;
  /* gap: 8px; */
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: "Audiowide", sans-serif;
}
.navbar-login li {
  display: flex;
  align-items: center;
}
.navbar-explore {
  display: flex;
  align-items: center;
  position: relative;
}

.navbar-btn {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  padding: 0;
  margin-right: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition:
    background 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: none;
}
.navbar-btn:hover {
  background: none;
  box-shadow: none;
}
.navbar-icon {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}
.navbar-icon:hover {
  color: #66fcf1;
  text-shadow: 0 0 10px #66fcf1;
}

.navbar-user-dropdown {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: auto;
  gap: 15px;
  /* margin-right: 30px; */
  min-width: min(160px, 100%);
  max-width: 180px;
}

#perfil {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: white;
}
.navbar-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  object-fit: cover;
}
.navbar-username {
  font-weight: bold;
  font-size: 1rem;
  color: #00d1ff;
  max-width: 140px; /* Ajusta el ancho,asi se ven 10 caracteres*/
  text-overflow: ellipsis; /* Añade los puntos supensivos*/
  white-space: nowrap; /* Evista qeu salte de linea si es largo*/
  overflow: hidden; /* Oculta lo que sobrepasa el ancho*/
}

/* Para mostrar nombre completo al hacer hover*/
/* .navbar-username:hover::after {
  content: attr(data-fullname); Obtiene el valor del atributo data-fulltime */
/* position: absolute; */
/* top: 30px; bottom: 30px; para arriba */
/* right: -20px;
  background: none;
  color: #00ffc8;
  padding: 4px 8px;
  border-radius: 6px;
  white-space: nowrap;
  font-size: 0.7rem;
  z-index: 999;
  pointer-events: none;
} */

@keyframes dropdownFadeIn {
  from {
    opacity: 0;
    transform: translateY(-8px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.dropdown {
  position: relative;
}
.dropdown-platforms {
  display: none;
  position: absolute;
  min-width: min(190px, 100%);
  background: linear-gradient(135deg, #181a2a 80%, #23243a 100%);
  border-radius: 14px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  box-shadow:
    0 0 24px #00ffc8cc,
    0 0 0 2px #23243a,
    0 0 60px #00ffc822;
  padding: 10px 0;
  list-style: none;
  z-index: 20;
  border: 2px solid #66fcf1;
  animation: dropdownFadeIn 0.22s ease-in-out;
  overflow: hidden;
  font-family: "Audiowide", "Orbitron", "Poppins", Arial, sans-serif;
  top: 160%;
  left: -50%;
  right: auto;
  margin-top: 11px;
}
.dropdown-user {
  display: none;
  position: absolute;
  min-width: min(200px, 100%);
  background: linear-gradient(135deg, #181a2a 80%, #23243a 100%);
  border-radius: 14px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px; /* opcion de quitar los border-top */
  box-shadow:
    0 0 24px #00ffc8cc,
    0 0 0 2px #23243a,
    0 0 60px #00ffc822;
  padding: 12px 0;
  list-style: none;
  z-index: 20;
  border: 2px solid #66fcf1;
  animation: dropdownFadeIn 0.22s ease-in-out;
  overflow: hidden;
  font-family: "Audiowide", "Orbitron", "Poppins", Arial, sans-serif;
  top: 105%;
  right: 10%;
  left: auto;
  margin-top: 11px;
}

.dropdown:hover .dropdown-platforms {
  display: block;
}

.dropdown-platforms li,
.dropdown-user li {
  padding: 10px 24px;
  font-size: 1.08rem;
  color: #66fcf1; /* #00ffc8;*/
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 255, 200, 0.07);
  font-weight: 700;
  transition:
    background 0.2s,
    padding-left 0.2s,
    color 0.2s;
  justify-content: center;
  text-align: center;
  display: flex;
}
.dropdown-platforms li:last-child,
.dropdown-user li:last-child {
  border-bottom: none;
}
.dropdown-platforms li a,
.dropdown-user li a {
  color: #66fcf1; /* #00ffc8;*/
  text-decoration: none;
  display: block;
  font-weight: 700;
  transition: all 0.2s ease;
  padding: 0;
  font-size: 1.08rem;
  background: none;
  border: none;
  outline: none;
}

.dropdown-options {
  color: #66fcf1; /* #00ffc8;*/
  text-decoration: none;
  display: block;
  font-weight: bold;
  transition: all 0.2s ease;
  padding: 5px;
  font-family: "audiowide", Arial, sans-serif;
  font-size: 1.08rem;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.dropdown-platforms li a:hover,
.dropdown-user li a:hover,
.dropdown-options:hover {
  background: #00ffc8 !important;
  color: #181a2a !important;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 0 16px #00ffc8cc;
  text-shadow: 0 0 8px #00ffc8cc;
}
.dropdown-platforms li a:active,
.dropdown-user li a:active,
.dropdown-options:active {
  background: #00ffc8 !important;
  color: #fff !important;
}

.dropdown-platforms li a::before,
.dropdown-user li a::before,
.dropdown-options::before {
  content: "";
  margin-right: 0;
  display: none;
}

.dropdown-user.show {
  display: block;
  margin-top: 11px;
  box-shadow:
    inset 0 2px 6px rgba(0, 255, 255, 0.15),
    0 10px 30px rgba(0, 255, 255, 0.25),
    0 0 12px rgba(0, 255, 255, 0.3);
  border-top: none;
  animation: dropdownFadeIn 0.2s ease-in-out;
}

.dropdown-user.show::before {
  content: "";
  position: absolute;
  top: -6px;
  right: 24px;
  width: 20px;
  height: 6px;
  background: #66fcf1;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 0 8px #00ffc8cc;
}

.dropdown-platforms.show {
  display: block;
  margin-top: 11px;
  animation: dropdownFadeIn 0.2s ease-in-out;
  box-shadow:
    inset 0 2px 6px rgba(0, 255, 255, 0.15),
    0 10px 30px rgba(0, 255, 255, 0.25),
    0 0 12px rgba(0, 255, 255, 0.3);
  border-top: none;
}

.dropdown-platforms.show::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 24px;
  width: 20px;
  height: 6px;
  background: #66fcf1;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 0 8px #00ffc8cc;
}

.dropdown-bridge {
  position: absolute;
  top: 108%;
  left: 0;
  height: 10px;
  width: 100%;
  z-index: 10;
}

.dropdown-platforms-bridge {
  position: absolute;
  top: 160%;
  left: 0%;
  height: 12px;
  width: 100%;
  z-index: 10;
}

.messages-badge {
  position: relative;
}

.message-ball-badge {
  background-color: rgb(223, 2, 2);
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
  position: absolute;
  top: -14px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: min(18px, 100%);
  height: 18px;
  z-index: 10;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  animation: pulseBadge 1.3s infinite;
}

/* Animación opcional */
@keyframes pulseBadge {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0px rgba(255, 0, 0, 0.6);
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.8);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0px rgba(255, 0, 0, 0.6);
  }
}

.notification-container {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #66fcf1; /* Color neón */
  transition: color 0.3s ease;
}

.notification-container:hover {
  color: #00d1ff;
  text-shadow: 0 0 10px #00d1ff;
}

.notification-badge {
  position: absolute;
  top: -5px;
  right: -8px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 2px;
  font-size: 12px;
  font-weight: bold;
  pointer-events: none;
  box-shadow: 0 0 6px red;
}

.notification-dropdown {
  position: absolute;
  top: 45px;
  right: 0;
  background: rgba(10, 10, 30, 0.9);
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 255, 255, 0.4);
  width: 300px;
  max-height: 330px;
  overflow-y: auto;
  z-index: 1000;
  font-family: "Audiowide", sans-serif;
  padding: 10px;
}

.notification-dropdown::-webkit-scrollbar {
  width: 8px;
}
.notification-dropdown::-webkit-scrollbar-thumb {
  background: #00d1ff;
  border-radius: 4px;
}

.notification-item {
  padding: 8px 10px;
  border-bottom: 1px solid #00d1ff44;
  font-size: 0.9rem;
  cursor: pointer;
}
.notification-item:last-child {
  border-bottom: none;
}
.notification-item:hover {
  background: #00d1ff22;
}

@media (max-width: 1024px) {
  .nav-link,
  .active-link {
    font-size: 1.05rem;
    padding: 6px 10px;
  }

  .navbar-username {
    max-width: 100px;
  }

  .navbar-user-dropdown {
    max-width: 140px;
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 12px;
  }

  .navbar-links,
  .navbar-login {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 12px;
  }

  .navbar-user-dropdown {
    margin-right: 0;
    width: 100%;
    justify-content: space-between;
  }

  .navbar-username {
    font-size: 0.875rem;
  }

  .nav-link,
  .active-link {
    font-size: 1rem;
    padding: 6px 10px;
  }

  .navbar-icon {
    font-size: 1.25rem;
  }

  .dropdown-platforms,
  .dropdown-user {
    min-width: 98vw;
    left: 1vw;
    border-radius: 10px;
    padding: 8px 0;
  }

  .dropdown-platforms li,
  .dropdown-user li {
    padding: 8px 12px;
    font-size: 1rem;
  }
}
@media (max-width: 1280px) {
  .nav-link,
  .active-link {
    font-size: 1.05rem;
    padding: 6px 10px;
  }

  .navbar-logo .logo {
    font-size: 1.375rem;
  }
  .navbar-links {
    gap: 14px;
  }

  .navbar {
    padding: 6px 12px;
  }

  .navbar-user-dropdown {
    max-width: 140px;
    gap: 10px;
  }

  .navbar-username {
    max-width: 100px;
  }
}

@media (max-width: 900px) {
  .navbar {
    display: none;
  }
}
